* {
  font-family:Tahoma, Arial, sans-serif;
  font-size:1em;
}
body {
  background:#fff;
  margin:.906em;
  font-size:69%;
}
body.gui {
  text-align:center;
  background:#111;
  margin:0;
}
hr {
  border:none;
  color:#ccc;
  background:#ccc;
  width:100%;
  height:.09em;
}
pre {
  overflow: auto;
  padding: 1em;
  margin: 0;
  font-family:"Courier New", Courier, monospace;
  background-color:#F7F7F7;
  white-space: pre-wrap;
}
form {
  margin:0;
}
input.num {
  text-align:right;
}
#wrapper {
  position:relative;
  text-align:left;
  width:72.464em;
  margin:0 auto;
}
#content {
  background:#fff;
}
#header {
  width:72.464em;
  height:9.340em;
  background:#111;
  padding-top:.908em;
}
.infopage #header {
  height:6.612em;
}
#header #logo {
  background:url(logo.png) left center no-repeat;
  height:4.076em;
  width:454px;
  margin-bottom:.272em;
}
#header #logo h1 {
  display:none;
}
#statusInfo {
  position:absolute;
  top:.908em;
  right:0;
  width:32.609em;
  text-align:right;
  color:#ccc;
}
#statusInfo a {
  color:#ccc;
  text-decoration:none;
}
#statusInfo a:hover {
  color:#fff;
  text-decoration:underline;
}
#menu {
  position:relative;
  width:72.464em;
}
#menuSub {
  position:absolute;
  top:2.265em;
  left:0;
  width:72.283em;
  padding-top:.362em;
  border-style:solid solid none solid;
  border-width:.09em;
}
#menuMainList,
#menuSubList {
  margin:0;
  padding:0;
}
#menuMainList li,
#menuSubList li {
  display:inline;
  float:left;
  list-style-type:none;
}
#menuMainList li span,
#menuSubList li span,
#menuMainList li a,
#menuSubList li a {
  display:block;
  margin-left:.362em;
  border-style:solid solid none solid;
  border-width:.09em;
  padding:.453em .906em;
  text-decoration:none;
}
#menuMainList li span {
  font-weight:bold;
  padding-bottom:.626em;
  margin-top:0;
}
#menuSubList li span {
  background:#fff;
  color:#000;
  border-color:#fff #ccc #000 #fff;
  font-weight:normal;
  padding-bottom:.543em;
}
#menuMainList li a,
#menuSubList li a {
  margin-top:.09em;
}
#menuMainList li a {
  background:#333;
  color:#999;
  border-color:#555 #222 #000 #555;
  font-weight:bold;
}
#menuSubList li a {
  font-weight:normal;
}
#menuMainList li a:hover,
#menuSubList li a:hover {
  margin-top:0;
  padding-bottom:.543em;
}
#menuMainList li a:hover {
  background:#666;
  color:#ccc;
  border-color:#888 #444 #000 #888;
}
#main,
#helpContainer {
  position:relative;
  float:left;
}
#main #contents {
  width:52.536em;
  padding:.906em;
}
#main #contentsInfo {
  width:70.471em;
  padding:.906em;
}
#main #contentsInfo div.col2l {
  float:left;
  width:34.774em;
}
#main #contentsInfo div.col2r {
  float:left;
  width:34.774em;
  margin-left:.906em;
}
h2,
h3,
.submitFooter {
  margin:0 0 .906em 0;
  background:#ccc;
  padding:.181em .725em;
  border-style:solid;
  border-color:#ddd #999 #999 #ddd;
  border-width:.09em;
  color:#000;
  letter-spacing:.09em;
}
.setting {
  position:relative;
  margin-bottom:.453em;
  line-height:1.993em;
  width:100%;
}
.setting .label {
  float:left;
  width:18.931em;
}
fieldset .setting .label {
  width:18.116em;
}
.setting .default {
  display:block;
  position:absolute;
  color:#666;
  top:0;
  right:0;
  width:17em;
}
.warning {
  font-weight:bold;
  padding:.725em;
  border:solid .181em #f99;
  text-align:center;
}
fieldset {
  border:solid .09em #ccc;
  padding:.725em;
  margin:0;
}
fieldset legend {
  font-weight:bold;
  margin-left:-.362em;
  padding:0 .272em;
  background:#fff;
}
table {
  margin:0 auto;
  width:100%;
  border-spacing:.3em;
}
table tr th {
  color:#fff;
  font-weight:normal;
  border-style:solid;
  border-width:.09em;
  border-color:#ccc #666 #666 #ccc;
  text-align:left;
  padding:.09em .543em;
  background:#999;
  vertical-align:bottom;
}
table tr:hover {
  background: #e8e8e8;
}
table td {
  padding:0;
}
#help {
  width:17.210em;
  padding:.906em 0;
}
#help dl {
  padding:0;
  margin:0;
}
#help dt.term {
  margin:0 0 .362em 0;
  font-weight:bold;
}
#help dd.definition {
  padding-bottom:.908em;
  border-bottom:dotted .09em #ccc;
  margin:0 0 .908em 0;
}
#help a {
  display:block;
  position:absolute;
  top:1.478em;
  right:0.901em;
  text-align:right;
  text-decoration:none;
  text-transform:lowercase;
}
#help a:hover {
  text-decoration:underline;
}
.submitFooter {
  padding:.725em;
  margin:0;
  text-align:center;
}
.submitFooter .button,
.message div input {
  padding:.362em 1.087em;
  margin:0 .362em;
}
#floatKiller {
  clear:both;
  width:1px;
  height:1px;
  font-size:1px;
}
div.center {
  text-align:center;
}
.message {
  max-width:72.464em;
  margin:0 auto;
  padding:1.812em;
  font-weight:bold;
  text-align:center;
  border-style:solid;
  border-color:#ddd #999 #999 #ddd;
  border-width:.09em;
  background:#ccc;
}
.message div input {
  margin-top:1.449em;
  font-weight:normal;
}
.popup {
  background:#fff;
  padding:.906em;
}
.meter {
  position:relative;
  float:right;
  margin-top:.09em;
  width:14.49em;
  height:1.268em;
  background:#aaa;
  border-style:solid;
  border-width:.09em;
  border-color:#777 #ccc #ccc #777;
}
.meter .bar {
  height:1.268em;
}
.meter .text {
  position:absolute;
  top:0;
  width:100%;
  height:1.268em;
  text-align:center;
  line-height:1.181em;
}
td .meter {
  float:none;
  margin-top:0;
  width:99%;
}
.progressbar {
  visibility:visible;
  position:relative;
  overflow:hidden;
  border-style:solid;
}
.progressbarblock {
  position:absolute;
}
.textblink {
  text-decoration:blink;
}
.bin {
  background:url(/images/bin_bt.gif) center no-repeat;
  cursor:pointer;
}
body input.button {
	padding: .2em .362em;
	margin: 0 .3em 0 0;
	cursor:pointer;
	border-width: .1em;
	border-bottom-color: #ccc;
	border-right-color: #ccc;
	border-left-color: #ddd;
	border-top-color: #ddd
}
body input.button[disabled] {
	cursor: default;
	color: #000;
	background-color: #DADADA;
}
input.spaceradio {
  margin-right:.4em;
}
input.three_column {
  width: 150px;
  margin-left: 0px;
  margin-right: 10px;
}
input.three_column_last {
  margin-right: 0px;	
}
input.four_column {
  width: 115px;
  margin-left: 0px;
  margin-right: 10px;
}
input.four_column_last {
  margin-right: 0px;
}
/* for DIV popup Style */
div.bulle {
	width:auto;
	background-color:#FFFFE1;
	position:absolute;
	visibility:hidden;
	z-index:2000;
}
table.bulle {
	width:auto;
	height:auto;
	margin:0em;
	padding:0em;
	border:0.09em solid #000000;
	text-align:justify;
}
td.bulle {
	width:auto;
	height:auto;
	padding:0.09em;
	border:0em;
}
/* Status colors */
.status_red {
	background: #f00;
}
.status_green {
	background: #0f0;
}
.status_yellow {
	background: #ff0;
}
/* Moved from inline HTML */
.off {
	background: #e0e0e0;
}
.odd {
	background: #ccc;
}
